=bootstrap_form_with model: @work, local: true do |f|
  =f.text_field :title
  =f.collection_select :director_id, Director.all, :id, :name, include_blank: true, class: 'form-control '
  =f.text_field :relese
  =f.text_field :main_actor
  =f.text_area :description
  =f.submit

=link_to "back to work lists", works_path
